<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <a href="/routes">This is Demo File and access from Viwes folder.</a>

    <table>
        <tr>
            <th>S.NO</th>
            <th>Name</th>
            <th>Age</th>
        </tr>
        <tr>
            <td>1</td>
            <td>Hari</td>
            <td>25</td>
        </tr>
        <tr>
            <td>2</td>
            <td>Ram</td>
            <td>18</td>
        </tr>
        <tr>
            <td>3</td>
            <td>Ravi</td>
            <td>28</td>
        </tr>
    </table>
</body>
</html>